__pycache__/
*.pyc
venv/
.venv/
.env
.env.*
!.env.example
.vscode/
*.log
instance/
*.db
.coverage
reports/
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
kubeconfig
*.kubeconfig
k8s/secret.yaml